{% extends "base.html" %}

{% block content %}
<h2>Username: {{ user }}</h2>
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}

<script>
// websocket scripts
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")

protocol = 'ws://'
if (loc.protocol == "https:") {protocol = 'wss://'};
var endpoint = protocol + loc.host + loc.pathname
var socket = new ReconnectingWebSocket(endpoint);
console.log ("endpoint", endpoint);


socket.onmessage = function(e) {
    console.log ("message", e)
    var chatMsgData = JSON.parse(e.data)
    chatHolder.append("<li>" + chatMsgData.message + " via " + chatMsgData.username + "</li>")
}

socket.onopen = function(e) {
    console.log ("open", e)
    var form = $("#form")[0]
    formData.submit(function(event) {
        event.preventDefault();
        //var formDataSerialized = formData.serialize()
        var data = {
            'message': msgInput.val(),
        }
        //socket.send(formDataSerialized)
        //socket.send(msgInput.val());
        socket.send(JSON.stringify(data));
        msgInput.val('');
        //formData[0].reset();
    })
}

socket.onerror  = function(e) {
    console.log ("error", e)
}
socket.onclose  = function(e) {
    console.log ("close", e)
}

</script>
{% endblock %}